#input-field {
  width: 400px;
  height: 106px;

}

#input-text {
  margin:10px 0px 0px 0px;
}

::placeholder{
  text-indent:50%;
}



.btn {
  display:block;
  margin: 50px 0px 0px 0px
}

.textarea {
  font-size: 30px;
}